<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventify</title>

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- Navbar -->
  <div class="navbar">
    <div class="logo carter-one-regular">Eventify</div>
    <ul id="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <div class="nav-right">
      <a href="#">Sign In</a>
      <a href="#" class="register-btn">Register</a>
      <div class="cart">
        🛒
        <span class="cart-badge">0</span>
      </div>
      <div class="hamburger" id="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  

</body>
</html>
